<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">


{{ partial "head" . }}


<body 
    style="background-color: #f4e5bc;
           background-image: url('/img/border.png');
           background-repeat: repeat;
           background-size: 20%;
           "
>

<div style="
    background-color: #656E56 /*#545c48*/;

    background-size: cover;
    margin : 5%;
    
    border-style: double;
    border-color: black;
    
    "
>
{{ partial "nav" . }}


{{ block "main" . }}{{ end }}
{{ partial "footer" . }}
</div>
</div>

</body>
</html>