{{ define "main" }}
<div style="margin : 5%; text-align: center;">
<div class="row">
{{$r:=0}}

{{ range sort .Pages "Title" "desc"}}
	{{ $r = add $r 1 }}
	<div class="col-lg-4 col-12">
	<a href="{{(path.Base .File.Dir)}}">
	<figure>
	{{ if .Params.images }}
		<div id="carousel{{$r}}" class="carousel slide">
		<div class="carousel-inner">    
		{{$foo := (path.Base .File.Dir)}}
		{{$first := true}}
		{{ range where .Params.images "thumbnail" true }}
			<div class="carousel-item {{ if $first }}active{{ $first = false }}{{ end }}">
			<div class="image-container">
			<img src="{{$foo}}/{{.image}}" alt="Image" class="img-fluid">
			</div>
			</div>
		{{end}}
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carousel{{$r}}" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carousel{{$r}}" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
		</button>
		</div>
	{{ else }}
			<p>No images available.</p>
	{{ end }}
		<figcaption style="margin-top: 5%;font-size: 25px"> {{.Params.title}} </figcaption>
	</a>
	</figure>

	</div>
{{ end }}
</div>
</div>
{{ end }}