{{ define "main" }}
    <h1> {{.Title}} £{{.Params.price}} </h1>
      <p> {{ .Description }}</p>
      <div class="row h-100">
        {{ range .Params.images }}
            <div class="col-12 image-container">
            <figure>
            <img src="{{ .image }}" alt="Image" class ="img-fluid">
            <figcaption> {{.title}} {{.description}} </figcaption>
          </figure>
            </div>
        {{ end }}
      </div>
      {{ .Content }}
<p>For enquiries and purchases please fill out the following form to arrange payment and postage</p>

<div class="container mt-5">
    <h2 class="text-center">Contact Us</h2>
    <form name="contact" netlify>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="details">Message</label>
            <textarea class="form-control" id="details" name="details" rows="4" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Send</button>
    </form>
</div>


<br>






{{ end }}