{{ define "main" }}
<div style="margin : 5%;">

    <h1> {{.Title}} £{{.Params.price}} </h1>
      <p>{{ .Description }}</p>
      <div class="row h-100">
        {{ range .Params.images }}
            <div class="col-12 image-container">
            <figure class="d-flex flex-column align-items-center text-center">
            <img src="{{ .image }}" alt="Image" class ="img-fluid">
            <figcaption class="mt-2"> {{.title}} {{.description}}</figcaption>
            </figure>
            </div>
        {{ end }}
      </div>
      <p>
      {{ .Content }}
      </p>







<p>For enquiries and purchases please fill out the following form to arrange payment and postage</p>

<div class="container mt-5">
    <h2 class="text-center">Contact Me</h2>
    <form class = "row" name="contact" netlify>
        <div class="col-6">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        </div>
        <div class ="col-6"> 
        <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        </div>
        <div class = col-12>
        <div class="form-group">
            <label for="details">Message</label>
            <textarea class="form-control" id="details" name="details" rows="4" required></textarea>
        </div>
        </div>
        
        <div class = col-12 >
        <br>
        <button type="submit" class="btn btn-primary mx-auto d-block">Send</button>
        </div>
    
    </form>
</div>
</div>
{{ end }}