

.image-container {
    max-height: 100vh;
}

/*issue means if one wants to zoom in then you have to screenshot and then zoom -will do for now*/
.image-container img {
            width: 100%; 
            height: auto; 
            max-height: 90vh;
            object-fit: contain;
}


.carousel-item .image-container {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.carousel-item .image-container img {
  object-fit: contain; /* scale down the image to fit the container's height while maintaining aspect ratio */
  height: 100%; /* set the height to 100% of the container */
  width: auto; /* set the width to auto to maintain aspect ratio */
}




  .navbar {
    padding: 0.25rem 0.25rem; /* Adjust the top/bottom and left/right padding */
  }

  .navbar-nav .nav-link {
    font-size: 1.5rem; /* Increase font size */
    padding: 0rem 0rem; /* Adjust padding for nav links */
  }


  .navbar-brand {
    font-size: 2rem; /* Increase font size */
    padding: 1rem 1rem; /* Adjust padding for nav links */
  }

  /* styles.css */
a {
    color: black ; /* Change to your desired color */
    text-decoration: none ; /* Remove underline */

}


/* styles.css */
.form-group {
    /*
    background-color: #545c48;
    border-color: #007bff; 
    color: #333; 
    */
}
.form-group:focus {
  /*
    background-color: #545c48;
    border-color: #0056b3; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    */
}

.form-control {
  background-color: #857b71;
  border-color: #000000 ;
  /*
  color: #333 ;
  */
}
.form-control:focus {
  background-color: #b3a58b;
  border-color: #000000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0);
  /*
  */
}


.btn  {
  background-color:#857b71 ;
  
  border-color: #000000 ;
  color: #333 ;
  width : 50%;
}

.btn:hover  {
  background-color: #717B85;
  border-color: #000000 ;
  color: #333 ;
}

.btn:active  {
  background-color: #FFFFFF;
  border-color: #000000 ;
  color: #333 ;
}

.btn:focus  {
  background-color: #717B85;
  border-color: #000000 ;
  color: #333 ;
}

